!!! 5
%html
  %head
    %title= title
    = render 'layouts/stylesheets'
    = render 'layouts/javascripts'
    = csrf_meta_tags

  %body.container
    = render 'layouts/header'
    %section
      = yield
    = render 'layouts/footer'